@charset "utf-8";
	body{
		height: 100%;
	}
	.container{
		width: 100%;
	}
	.col-xs-12{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
	table{
		cursor: pointer;
		font-family: "微软雅黑";
	}
	.hot_left_td1{
		width: 60%;
	}
	.panel-body{
		width: 100%;
		padding: 5px;
	}
	tr:hover{
		text-decoration: underline;
	}
	#hot_left_row1{
		height:300px !important;
	}
	.panel-info{
		height: 100%;
	}
	.panel{
		margin-bottom: 0;
	}
	.panel-body{
		overflow-y: auto;
	}
